.neu-card {
    padding: 20px;
    width: 300px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9ECEF;
    border-radius: 10px;
}

.neumorphism {
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3),
    -10px -10px 10px rgba(255, 255, 255, .9);
}